@(title: String)

@incl.main("Sign in page", isLogged = false) {
    <form class="form-signin" action="@routes.AuthController.loginJSON" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="login" class="sr-only">User login</label>
        <input type="text" id="login" name="login" class="form-control" placeholder="Login" required="" autofocus="" autocomplete="off">

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control margin-bottom" placeholder="Password" required="" autocomplete="off">

        <div class="alert alert-danger" role="alert" style="display: none;">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
}{
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
} {
    <script type="text/javascript">
            $(document).ready(function () {
                var errorEl = $("div.alert");
                $("button.btn").click(function(){
                    errorEl.slideUp("slow");
                    postJSON("@routes.AuthController.loginJSON", {
                        "login": $("#login").val(),
                        "password": $("#password").val()
                    }, function(json){
                        navbarController.invalidate();
                        console.log(json);
                        if ('error' in json) {
                            var errorMessage = "<strong>Oh snap!</strong> Error in login or password. Try once more.";
                            if (json.code == 2) {
                                window.location.replace("/purchases");
                            }
                            errorEl.slideUp("fast", function() {
                                errorEl.empty();
                                errorEl.append(errorMessage);
                                errorEl.slideDown("slow");
                            });
                        } else {
                            window.location.replace("/purchases");
                        }
                    });
                    return false;
                });
                $(document).xpathEvaluate("//a[contains(text(),'Login')]/..").addClass("active");
            });
    </script>
}