@(title: String)

@incl.main("Registration page", isLogged = false) {
    <form class="form-signin" action="@routes.AuthController.signup" method="post">
        <h2 class="form-signin-heading">Welcome to registration page!</h2>

        <label for="login" class="sr-only">User login</label>
        <input type="text" id="login" name="login" class="form-control" placeholder="Login" required="" autofocus="" autocomplete="off">

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" autocomplete="off">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password_repeat" name="password_repeat" class="form-control margin-bottom" placeholder="Password repeat" required="" autocomplete="off">

        <label for="name" class="sr-only">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autocomplete="off">
        <label for="surname" class="sr-only">Surname</label>
        <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required="" autocomplete="off">

        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control margin-bottom" placeholder="email@@mail.ru" required="" autocomplete="off">

        <div class="alert alert-danger" role="alert" style="display: none;">
            <strong>Oh snap!</strong> Someone are already using this login.
        </div>

        <button id="signup_but" class="btn btn-lg btn-primary btn-block margin-bottom" type="submit">Sign up</button>
    </form>
} {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
} {
    <script type="text/javascript">
            $(document).ready(function () {
                $(document).xpathEvaluate("//a[contains(text(),'Signup')]/..").addClass("active")
                $("#signup_but").click(function(){
                    postJSON("@routes.AuthController.signup", {
                        "login": $("#login").val(),
                        "password": $("#password").val(),
                        "password_repeat": $("#password_repeat").val(),
                        "name": $("#name").val(),
                        "surname": $("#surname").val(),
                        "email": $("#email").val()
                    }, function(json){
                        console.log(json);
                        if ('error' in json) {
                            var errorEl = $("div.alert");
                            if (errorEl.css('display') == 'none') {
                                errorEl.slideDown("slow");
                            } else {
                                errorEl.slideUp("fast", function() {
                                    errorEl.empty();
                                    errorEl.append("<strong>No, no! </strong>This one is busy too.");
                                    errorEl.slideDown("slow");
                                });
                            }
                        } else {
                            window.location.replace("@routes.Application.purchases");
                        }
                    });
                    return false;
                });
            });
    </script>
}