.navbar-static-top {
    margin-bottom: 19px;
}

#navbar ul li a.caret-before {
    padding-right: 3px;
}

#navbar ul li a.caret-after {
    padding-left: 7px;
    padding-right: 10px;
}

body {
    background-color: #eee;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}

.pieholder {
    text-align: center;
    width: 100%;
}

.form-purchase > div {
    width: 100%;
}

.form-create-group button[type="submit"],
.form-purchase input[type="submit"] {
    margin-top: 5px;
}

.form-purchase,
.form-signin,
.form-create-group {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-purchase {
    min-width: 250px;
    margin: 0;
    text-align: left;
}