.navbar-static-top {
    margin-bottom: 19px;
}

body {
    background-color: #eee;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}

.pieholder {
    text-align: center;
    width: 100%;
}

.form-purchase {
    min-width: 250px;
    max-width: 400px;
    padding: 15px;
    margin: 0;
    text-align: left;
}

.form-purchase > div {
    width: 100%;
}

.form-purchase input[type="submit"] {
    margin-top: 5px;
}