@()

@incl.main("TODO list", isLogged = false) {
    <h1>Для тех кто пришел посмотреть:</h1>
    В правом верхнем углу логинимся или регаемся =)
    Ну или так: <a href="/signup">Клик сюды ;-)</a>
    <div style="font-size: xx-small">И я украду все ваши куки, хе-хе... </div> Кликай, Кликай, нечего тут разглядывать

    <h1>TODO list</h1>

    <ul id="list">
        <li>Создание групп.</li>
        <li>Случайные цвета.</li>
        <li>Настройки аккаунта.</li>
        <li>Авторизация через ВК//google.</li>
        <li>Ограничение размера отобржаемой части списка покупок.</li>
        <li>Index с пояснением.</li>
    </ul>
} { } { }
