@()

@incl.main("Purchases", isLogged = true) {
    <h1 xmlns="http://www.w3.org/1999/html">Welcome REPLACE IT!</h1>
    <form class="form-purchase">
        <div>
            <div class="dropdown">
                <div data-toggle="dropdown">
                @*<div class="input-group" data-toggle="dropdown">*@
                    <input class="entryInput form-control" id="product" name="product" type="text" autocomplete="off" placeholder="Product"/>
                    @*<span class="input-group-btn">*@
                        @*<button id="cancelQuery" class="btn btn-default" type="button">X</button>*@
                    @*</span>*@
                </div>

                <ul class="dropdown-menu" role="menu" aria-labelledby="product"></ul>
            </div>
            <input class="entryInput form-control" id="amount" name="amount" type="text" autocomplete="off" placeholder="Amount"/>
            <input type="submit" value="submit" id="savePur">
        </div>
    </form>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Default groupName</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="pieholder">
                    <canvas id="graph"></canvas>
                </div>
            </div>
        </div>
    </div>
}{ } {
    <script src="@routes.Assets.versioned("javascripts/Chart.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var groupName = 'Default budget name';
            $(document).ready(function () {
                $('#product').focusout(function(){
                    $("div.dropdown-backdrop").click();
                });

                var pieChart = null;
                var func = function(num) {
                    $.ajax({
                        type: "GET",
                        url: "/getGroupPieData",
                        data: {
                            "groupName": groupName
                        },
                        success: function(json){
                            console.log(json);
                            var graph = document.getElementById('graph').getContext('2d');
                            var pieData = json;
                            var pieOptions = {
                                animationSteps: num,
                                animationEasing: 'easeInOutQuart'
                            };
                            if (pieChart != null) {
                                pieChart.destroy();
                            }
                            pieChart = new Chart(graph).Pie(pieData, pieOptions);
                            var list = $(document).xpathEvaluate("//ul[\@@aria-labelledby='product']");
                            list.empty();
                            json.forEach(function(group) {
                                list.append("<li><a class='result' data-id='{{_id}}'>" + group.label + "</a></li>");
                            });
                            $(document).xpathEvaluate("//ul[\@@aria-labelledby='product']/li").click(function() {$("#product").val($(this).children().text())});
                        }
                    });
                };

                $.ajax({
                    type: "GET",
                    url: "/purchasesJSON",
                    data: {},
                    success: function(json){
                        groupName = json.groupName;
                        $(".panel-heading").innerHTML = groupName;
                        var tableEl = $("tbody");
                        var indexPurchase = 1;
                        tableEl.empty();
                        json.purchases.reverse().forEach(function(purchase) {
                            tableEl.append("<tr>" +
                                    "<th scope='row'>" + indexPurchase + "</th>" +
                                    "<td>" + purchase.productName + " </td>" +
                                    "<td>" + purchase.amount + "</td>" +
                                    "</tr>");
                            ++indexPurchase;
                        });
                        func(100);
                    }
                });

                var setPieSize = function() {
                    var pie = $("canvas");
                    var pieLength = $("div.pieholder").width();
                    if (pieLength > 400) {
                        pieLength = 400
                    }
                    pie.attr("width", pieLength);
                    pie.attr("height", pieLength);
                };
                setPieSize();

                $("#savePur").click(function(){
                    postJSON("/saveJSON", {
                        "product": $("#product").val(),
                        "amount": Number($("#amount").val()),
                        "groupName": groupName
                    }, function(json){
                        var num = $(document).xpathEvaluate("//table[contains(\@@class, 'table')]/tbody/\*").size() + 1;
                        if (num != 1) {
                            $("<tr><th scope='row'>" + num + "</th><td>" + json.product + "</td><td>" + json.amount + "</td></tr>")
                                    .insertBefore($(document).xpathEvaluate("//table[contains(\@@class, 'table')]/tbody/\*[1]"));
                        } else {
                            $(document).xpathEvaluate("//table[contains(\@@class, 'table')]/tbody")
                                    .append("<tr><th scope='row'>" + num + "</th><td>" + json.product + "</td><td>" + json.amount + "</td></tr>");
                        }
                        func(0);
                    });
                    return false;
                });

                $(window).on("resize", function(event) {
                    var pie = $("canvas");
                    var pieLength = $("div.pieholder").width();
                    if (pieLength > 400) {
                        pieLength = 400
                    }
                    $("div.pieholder").empty().append("<canvas id='graph'></canvas>");
                    pieChart = null;
                    setPieSize();
                    func(0);
                });
            });
    </script>
}