@(customer: String, purchases: List[Purchase])

@incl.main("Purchases", isLogged = true) {
    <h1>Welcome @(customer)!</h1>

    @helper.form(action = routes.Application.savePurchase()) {
        <input type="text" name="product" id="product"><br/>
        <input type="text" name="amount" id="amount"><br/>
        <input type="submit" value="submit" id="savePur">
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Purchases</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(i <- purchases.indices.reverse) {
                            <tr>
                                <th scope="row">@(i + 1)</th>
                                <td>@purchases(i).productName</td>
                                <td>@purchases(i).amount</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <canvas id="graph" width="600" height="400"></canvas>
            </div>
        </div>
    </div>
}{ } {
    <script src="@routes.Assets.versioned("javascripts/Chart.js")" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                console.log("It is ready!!");
                $("#savePur").click(function(){
                    postJSON("/saveJSON", {
                        "product": $("#product").val(),
                        "amount": Number($("#amount").val()),
                        "groupID": 1
                    }, function(json){
                        var num = $(document).xpathEvaluate("//table[contains(@@class, 'table')]/tbody/\*").size() + 1;
                        $("<tr><th scope='row'>" + num + "</th><td>" + json.product + "</td><td>" + json.amount + "</td></tr>")
                                .insertBefore($(document).xpathEvaluate("//table[contains(@@class, 'table')]/tbody/\*[1]"));
                        @*$(document).xpathEvaluate("//table[contains(@@class, 'table')]/tbody")
                                .append("<tr><th scope='row'>" + num + "</th><td>" + json.product + "</td><td>" + json.amount + "</td></tr>"); *@
                        func(0);
                    });
                    return false;
                });

                var pieChart = null;
                var func = function(num) {
                    $.ajax({
                        type: "GET",
                        url: "/getGroupPieData",
                        data: {"groupID": 1},
                        success: function(json){
                            console.log(json);
                            var graph = document.getElementById('graph').getContext('2d');
                            var pieData = json;
                            var pieOptions = {
                                animationSteps: num,
//                                segmentShowStroke : true,
                                animationEasing: 'easeInOutQuart'
//                                animationEasing: 'easeOutBounce'
                            };
                            if (pieChart == null) pieChart = new Chart(graph).Pie(pieData, pieOptions);
                            else {
                                pieChart.destroy();
                                pieChart = new Chart(graph).Pie(pieData, pieOptions);
                            }
                        }
                    });
                };
                func(100);
            });
    </script>
}