@(customer: String, purchases: List[Purchase])

@main("Purchases") {
    <h1>Welcome @(customer)!</h1>

    <ul id="list">
    @for(purchase <- purchases) {
        <li>@purchase.productName Amount:@purchase.amount</li>
    }
    </ul>

    @helper.form(action = routes.Application.savePurchase()) {
        <input type="text" name="product" id="product"><br/>
        <input type="text" name="amount" id="amount"><br/>
        <input type="submit" value="submit" id="savePur">
    }
}{
    <script type="text/javascript">
            $(document).ready(function () {
                console.log("It is ready!!");
                $("#savePur").click(function(){
                    $.ajax({
                        beforeSend: function(xhrObj){
                            xhrObj.setRequestHeader("Content-Type","application/json;text/json;");
                            xhrObj.setRequestHeader("Accept","application/json;text/json;");
                        },
                        type: "POST",
                        url: "/saveJSON",
                        data: JSON.stringify({
                            "product": $("#product").val(),
                            "amount": Number($("#amount").val()),
                            "groupID": 1
                        }),
                        dataType: "json",
                        success: function(json){
                            $("#list").append('<li>' + json.product + ' Amount: ' + json.amount +'</li>')
                        }
                    });
                    return false;
                });
            });
    </script>
}