@(customer: String, purchases: List[Purchase])

@main("Purchases") {
    <h1>Welcome @(customer)!</h1>

    <table style="width: 100%">
        <tr>
            <td>
                @helper.form(action = routes.Application.savePurchase()) {
                    <input type="text" name="product" id="product"><br/>
                    <input type="text" name="amount" id="amount"><br/>
                    <input type="submit" value="submit" id="savePur">
                }
                <ul id="list">
                @for(purchase <- purchases) {
                    <li>@purchase.productName Amount:@purchase.amount</li>
                }
                </ul>
            </td>
            <td>
                <canvas id="graph" width="600" height="400"></canvas>
            </td>
        </tr>
    </table>
}{ } {
    <script src="@routes.Assets.versioned("javascripts/Chart.js")" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                console.log("It is ready!!");
                $("#savePur").click(function(){
                    postJSON("/saveJSON", {
                        "product": $("#product").val(),
                        "amount": Number($("#amount").val()),
                        "groupID": 1
                    }, function(json){
                        $("#list").append('<li>' + json.product + ' Amount: ' + json.amount +'</li>')
                        func(0);
                    });
                    return false;
                });

                var pieChart = null;
                var func = function(num) {
                    $.ajax({
                        type: "GET",
                        url: "/getGroupPieData",
                        data: {"groupID": 1},
                        success: function(json){
                            console.log(json);
                            var graph = document.getElementById('graph').getContext('2d');
                            var pieData = json;
                            var pieOptions = {
                                animationSteps: num,
//                                segmentShowStroke : true,
                                animationEasing: 'easeInOutQuart'
//                                animationEasing: 'easeOutBounce'
                            };
                            if (pieChart == null) pieChart = new Chart(graph).Pie(pieData, pieOptions);
                            else {
                                pieChart.destroy();
                                pieChart = new Chart(graph).Pie(pieData, pieOptions);
                            }
                        }
                    });
                };
                func(100);
            });
    </script>
}